<ul id="nav-mobile" class="sidenav sidenav-fixed">
    <li style="height: 35%;"><a class="subheader" style="color:#e91e63;"><h3>Organs Repository</h3><p style="color: grey; line-height:30px">Pledge your organs on blockchain. The contract will remain encrypted unless you don't give access to hospital</p></a></li>
    <br>
    <br>
   

 
    

    <!-- All the Navigations links -->
    <li class="subheader1 typesPath"><a class="subheader1a" href="/encrypt" > <i class="material-icons black-text text-darken-4">lock_outline</i>Pledge Your Organs</a></li>
    <li class="subheader1 Path"><a class="subheader1a" href="/grant_access" > <i class="material-icons black-text text-darken-4">visibility</i>Grant access to hospital</a></li>
    <li class="subheader1 createPath"><a class="subheader1a" href="/decrypt" ><i class="material-icons black-text text-darken-4">lock_open</i>List of Organs Donors</a></li>
    <li class="subheader1 createPath"><a class="subheader1a" href="/gen_keys" ><i class="material-icons black-text text-darken-4">vpn_key</i>Generate Your keys</a></li>
    <li class="subheader1 createPath"><a class="subheader1a" href="/split_keys" ><i class="material-icons black-text text-darken-4">call_split</i>Split your private key</a></li>

</ul>
